body {
    background-color: #111111;
}

#container {
    text-align: center;
}

.row {
    margin: -8px;
}

.active, .inactive {
    width: 10px;
    height: 10px;
    margin: 0px;
    display: inline-block;
}

.inactive {
    background-color: #119999;
}

.active {
    background-color: #661111;
}
