<main role="main">

	<div class="control">
		<form>
			<label for="color1">Color 1: </label>
			<input type="color" v-model="color1" required/>

			<label for="color2">Color 2: </label>
			<input type="color" v-model="color2" required/>

			<label for="rule">Rule: </label>
			<input type="text" pattern="[0|1]{8}" v-model="rule" required/>

			<label for="rule-rand">Random Initial State: </label>
			<input type="checkbox" v-model="rand" checked/>
		</form>
		<a href="https://github.com/Oisota/CellularAutomata">Source Code</a>
	</div>

	<cell-grid
		v-bind:color1="color1"
		v-bind:color2="color2"
		v-bind:rule="rule"
		v-bind:rand="rand"
		v-bind:rows="rows">
	</cell-grid>

</main>
